@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="add-student-wrapper">
        <div class="section">
            <h5>Sudent Information</h5>
            <form>
                <div class="form-group">
                    <label for="firstName">First Name</label>
                    <input type="text" id="firstName" placeholder="e.g. John" />
                </div>
                <div class="form-group">
                    <label for="lastName">Last Name</label>
                    <input type="text" id="lastName" placeholder="e.g. Doe" />
                </div>
                <div class="form-group">
                    <label for="gradGroupYear">Grad Group Year</label>
                    <input type="number" id="gradGroupYear" value="2023" placeholder="e.g. 2023" />
                </div>
            </form>
        </div>

        <div class="section">
            <form>
                <label for="email"><h5>Student Email</h5></label>
                <input type="email" id="email" placeholder="e.g. johnd@bbd.co.za" />
            </form>
        </div>

        <button class="submit-btn">Submit</button>
    </div>
</div>
