@{
    ViewData["Title"] = "Add Level Up";
}

<div class="text-center">
    <div class="add-student-wrapper">
        <div class="section">
            <h5>Level Up Information</h5>
            <form>
                <div class="form-group">
                    <label for="firstName">Level-Up Name</label>
                    <input type="text" id="firstName" placeholder="e.g. C#" />
                </div>
                <div class="form-group">
                    <label for="startDate">Start Date</label>
                    <input type="date" id="startDate" />
                </div>
                <div class="form-group">
                    <label for="endDate">End Date</label>
                    <input type="date" id="endDate" />
                </div>
            </form>
        </div>

        <button class="submit-btn">Submit</button>
    </div>
</div>
